<section>
  <div class="page-header">
    <h1>Measure items</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="measure-item in vm.measureItems"
       ui-sref="measureItems.view({ measure-itemId: measure-item._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="measureItem.created | date:'mediumDate'"></span>
        by
        <span ng-if="measureItem.user" ng-bind="measureItem.user.displayName"></span>
        <span ng-if="!measureItem.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="measure-item.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.measureItems.$resolved && !vm.measureItems.length">
    No Measure items yet, why don't you <a ui-sref="measureItems.create">create one</a>?
  </div>
</section>
